@import '../../colors.styl'

.timer
  display flex
  width 100%
  margin 5px 0
  padding 5px 0


.timer
  &.large
    padding 0 20px

    .day, .hour,
    .minute, .second
      font-size 48px

  &.normal
    .day, .hour,
    .minute, .second
      font-size 36px

.day, .hour,
.minute, .second
  color alt-text-color

.day
  margin-right 15px

  &:after
    content "days"
    margin-left 10px

.hour, .minute
  &:after
    content ":"
