@import '../../colors.styl'

.item
  display flex
  flex-wrap wrap
  align-items center
  width 100%
  margin-bottom 20px
  color text-color
  text-decoration none

.title
  font-size 24px
  flex 2

.date
  font-size 16px
  flex 1
  text-align right


.show
  padding 0 20px

  h1
    padding-bottom 5px
    margin-bottom 5px
    text-align center
    color alt-text-color
    border-bottom 1px solid alt-text-color

  p
    font-size 18px
    line-height 1.75em
    padding 0 15px
    margin-bottom 20px

.altdate
  font-size 30px
  text-align center